:root {
    --font-text: arial;
}

body {
    margin: 0;
    font-family: var(--font-text);
    background-color: hsl(0, 0%, 6%);
}

#loadingPage {
    display: none;
    font-size: 3rem;
    color: hsl(0, 0%, 85%);
    height: 100vh;
}

#searchPage {
    padding: 2rem;
}

#titleInventory {
    margin: 0;
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 15%);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

#informasiAwal {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: hsl(0, 0%, 80%);
    margin: 2rem 0;
    background-color: hsl(0, 0%, 0%);
    border-radius: 10px;
}

#totalProduk,
#totalStock,
#lowStock {
    text-align: center;
    padding: 1rem;
}

#searchBar {
    display: flex;
    justify-content: center;
}

.search {
    margin-top: 2rem;
    font-size: 1.5rem;
    border: none;
}

#searchInput {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1.5rem;
    background-color: hsl(0, 0%, 4%);
    color: hsl(0, 0%, 75%);
    width: 50%;
    max-height: 2rem;
}

#submitBtn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 75%);
    max-height: 3rem;
    font-family: var(--font-text)
}

#searchInput:focus,
#addProductContent input:focus {
    outline: 1px solid hsl(240, 100%, 25%);
}

#addProductContent input {
    border-radius: 10px;
    border: none;
    padding: 1rem;
    background-color: hsl(0, 0%, 4%);
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
}


#submitBtn:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 25%);
}

input::placeholder {
    font-family: var(--font-text)
}

#productBar {
    background-color: hsl(0, 0%, 9%);
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
}

#productBar h2 {
    color: hsl(0, 0%, 80%);
    text-align: center;
}

#containerFilterSortBtn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

#filterBtn,
#sortBtn,
#addProductBtn {
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 25%);
    font-size: 1.04rem;
    color: hsl(0, 0%, 75%);
    padding: 0.3rem 2rem;
}

#detailInformasi {
    display: flex;
    justify-content: center;
    gap: 10%;
    color: hsl(0, 0%, 80%);
}

#productKolom h4,
#categoryKolom h4,
#priceKolom h4,
#stockKolom h4,
#actionKolom h4 {
    background-color: hsl(0, 0%, 25%);
}

#productKolom pre,
#categoryKolom pre,
#priceKolom pre,
#stockKolom pre,
#actionKolom pre {
    line-height: 1.5rem;
    font-size: 1rem;
}

#compBtn {
    display: flex;
    flex-direction: column;
    gap: 0.19rem;
}

#compBtn button {
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 25%);
    font-size: 1.04rem;
    color: hsl(0, 0%, 75%);
    width: 150%;
}

.allFilterBtn,
#allFilterCategoryBtn,
#allFilterStockBtn,
#allFilterPriceBtn {
    max-width: 20%;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 35%);
    font-size: 1.04rem;
    color: hsl(0, 0%, 75%);
    width: 150%;
}

#compBtn button:hover,
#filterBtn:hover,
#sortBtn:hover,
#addProductBtn:hover {
    background-color: hsl(0, 0%, 20%);
}

#compBtn button:active,
#filterBtn:active,
#sortBtn:active,
#addProductBtn:active {
    background-color: hsl(0, 0%, 15%);
}

#sortSettings {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

#addProductSettings {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

#modalDisplay,
#filterSettings {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

#modalContent,
#filterSettingsContent,
#sortSettingsContent {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(0, 0%, 20%);
    margin: 2rem 20rem;
    padding: 3rem 5rem;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#modalCloseBtn {
    padding: 0.3rem;
    align-self: flex-end;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 35%);
    margin: 0 0 1rem 0;
}

#confirmButton button {
    padding: 0.3rem;
    align-self: flex-end;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 35%);
}

#modalCloseBtn:hover,
#confirmButton button:hover,
.allFilterBtn:hover,
#allFilterCategoryBtn:hover,
#allFilterStockBtn:hover,
#allFilterPriceBtn:hover {
    background-color: hsl(0, 0%, 30%);
}

#modalCloseBtn:active,
#confirmButton button:active,
#allFilterCategoryBtn:active,
#allFilterStockBtn:active,
#allFilterPriceBtn:active {
    background-color: hsl(0, 0%, 25%);
}

#editDeleteComp {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

#editBtn {
    padding: 0.3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: #1A1A1A;
    background-color: #FFDE00;
}

#editBtn:hover {
    background-color: hsl(52, 100%, 45%);
}

#editBtn:active {
    background-color: hsl(52, 100%, 40%);
}

#deleteBtn {
    padding: 0.3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: #1A1A1A;
    background-color: #BF0000;
}

#deleteBtn:hover {
    background-color: hsl(0, 100%, 32%);
}

#deleteBtn:active {
    background-color: hsl(0, 100%, 27%);
}

#filterCategoryType {
    display: none;
    gap: 1rem;
    position: absolute;
    top: 10rem;
    right: 34rem;
    background-color: hsl(214, 24%, 50%);
    padding: 0.3rem;
    border-radius: 10px;
}

#filterStockType {
    display: none;
    gap: 1rem;
    position: absolute;
    top: 15rem;
    right: 37.5rem;
    background-color: hsl(214, 24%, 50%);
    padding: 0.3rem;
    border-radius: 10px;
}

#filterPriceType {
    display: block;
    gap: 1rem;
    position: absolute;
    top: 20rem;
    right: 38rem;
    background-color: hsl(214, 24%, 50%);
    padding: 0.3rem;
    border-radius: 10px;
}

#filterCategoryType button,
#filterStockType button,
#filterPriceType button,
#sortCompBtn button {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 20%, 35%);
}

#filterCategoryType button:hover,
#filterStockType button:hover,
#filterPriceType button:hover,
#sortCompBtn button:hover {
    background-color: hsl(0, 20%, 30%);
}

#filterCategoryType button:active,
#filterStockType button:active,
#filterPriceType button:active,
#sortCompBtn button:active {
    background-color: hsl(0, 20%, 25%);
}

#confirmButton {
    display: none;
    align-self: flex-end;
    padding: 2rem 0;
    gap: 1rem;
}

#productImg {
    align-self: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 25%);
}

::-webkit-scrollbar-thumb {
    background: hsl(240, 95%, 16%);
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(240, 95%, 27%);
    border: 3px solid transparent;
    background-clip: padding-box;
}

#addProductContent {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(0, 0%, 20%);
    margin: 2rem 20rem;
    padding: 3rem 5rem;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    gap: 0.5rem;
}

#addProductContent label {
    font-size: 1.2rem;
}

#warningAddProduct {
    visibility: hidden;
    color: red;
    text-shadow: 5px 2px 7px black;
}

#successMsg {
    color: white;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(40, 167, 69);
    border-radius: 5px;
    width: 80%;
    max-height: 7%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.editInput {
    display: none;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    background-color: hsl(0, 0%, 4%);
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
}

.editInput:focus {
    outline: 1px solid hsl(240, 100%, 25%);
}

textarea {
    width: 95%;          
    min-height: 100px;
    padding: 10px;
    font-family: inherit;
}